<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cost.title %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @cost.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cost.description %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
